<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="page-header">Edit Your Details</h2>
  </div>
</div>
<div class="row" id="user-edit-form">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="/users/<%= current_user.id %>" method="post">
      <div class="form-group">
        <label class="control-label">Email:</label>
        <input class="form-control" type="text" name="user[email]" value="<%= current_user.email %>">
      </div>
      <div class="form-group">
        <label class="control-label">Full name:</label>
        <input type="text" class="form-control" name="user[full_name]" value="<%= current_user.full_name %>">
      </div>
      <div class="form-group">
        <label class="control-label">Password:</label>
        <input type="password" class="form-control" name="user[password]">
      </div>
      <div class="form-group">
        <label class="control-label">Password confirmation:</label>
        <input type="password" class="form-control" name="user[retype_password]">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info">Update</button>
      </div>
    </form>
  </div>
</div>