<p>Show a list of anagrams for "<%= @user_input %>"</p>

<ul>
<% if @param.nil? %>
  <li>No anagrams found!</li>
<% else %>
  <% @param.anagrams.each do |a| %>
    <li><%= a.name %></li>
  <% end %>
<% end %>
</ul>

<%= erb :form %>