<form action="/" method="post">
  <div class="form-group">
    <label>Type a word for its anagrams:</label>
    <input type="text" class="form-control" name="user_input" placeholder="Enter word" required>
  </div>
  <button type="submit" class="btn btn-info">Get Anagrams!</button>
</form>