<div class="alert alert-success" role="alert">Results: <%= @game.first.players[0].initials %> vs <%= @game.first.players[1].initials %></div>
<table class="racer_table">
  <tr id="player1_strip">
    <% (@game_player[0].player_position - 1).times do %>
      <td></td>
    <% end %>
    <td class="active"></td>
  </tr>
  <tr id="player2_strip">
    <% (@game_player[1].player_position - 1).times do %>
      <td></td>
    <% end %>
    <td class="active"></td>
  </tr>
</table>