<h3>All users</h3>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <td><strong>Username</strong></td>
      <td><strong>Total Albums</strong></td>
      <td><strong>Total Photos</strong></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.albums.count %></td>
      <td><%= user.photo_count %></td>
      <td>
        <a href="/users/<%= user.id %>" type="button" class="btn btn-info btn-xs">View User</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>