<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <div class="caption-full">
        <h4><%= @post.title %></h4>
        <blockquote>
          <small>Tags: <%= @post.get_tags_string %></small>
        </blockquote>
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>
</div>